In [ ]:
Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

Answer 1-

str = "Hello, World!"

list = [1, 2, 3, 4, 5]

float = 3.14

tuple = (6, 7, 8, 9, 10)

In [1]:
s = "Hello, World!"

In [2]:
type(s)

str

In [3]:
l = [1, 2, 3, 4, 5]

In [4]:
type(l)

list

In [7]:
f = 3.14

In [8]:
type(f)

float

In [9]:
t = (6, 7, 8, 9, 10)

In [10]:
type(t)

tuple

In [ ]:
Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Answer 2- so the data types of given variables are-

var1: str
var2: str
var3: list
var4: float

In [17]:
var1 = " "

In [18]:
type(var1)

str

In [20]:
var2 = '[ DS , ML , Python]'

In [21]:
type(var2)

str

In [22]:
var3 = [ 'DS' , 'ML' , 'Python' ]

In [23]:
type(var3)

list

In [25]:
var4 = 1.

In [26]:
type(var4)

float

In [ ]:
Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

Answer 3-

In [ ]:
(i) The `/` operator is the division operator in Python. 
    It divides the left operand by the right operand and returns the quotient. 
    For example, `10 / 2` would return `5.0`.

In [12]:
10/5

2.0

In [ ]:
(ii) The `%` operator is the modulus operator in Python. 
     It divides the left operand by the right operand and returns the remainder. 
     For example, `10 % 3` would return `1`.

In [ ]:
10%3

1

In [ ]:
(iii) The `//` operator is the floor division operator in Python.
      It divides the left operand by the right operand and returns the quotient rounded down to the nearest integer.
       For example, `10 // 3` would return `3`.

In [14]:
10//3

3

In [ ]:
iv) The `**` operator is the exponentiation operator in Python. 
     It raises the left operand to the power of the right operand. 
      For example, `2 ** 3` would return `8`.

In [15]:
2**3

8

In [ ]:
Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Answer -
my_list = ['hello', 123, 3.14, True, None, [1, 2, 3], {'name': 'AJIT', 'age': 30}, ('apple', 'banana'), {'apple', 'orange'}, b'binary']

In [4]:
my_list = ['hello', 123, 3.14, True, None, [1, 2, 3], {'name': 'AJIT', 'age': 24}, ('apple', 'banana'), {'apple', 'orange'}, b'binary']

In [5]:
for element in my_list:
    print(f'{element} is of type {type(element)}')

hello is of type <class 'str'>
123 is of type <class 'int'>
3.14 is of type <class 'float'>
True is of type <class 'bool'>
None is of type <class 'NoneType'>
[1, 2, 3] is of type <class 'list'>
{'name': 'AJIT', 'age': 24} is of type <class 'dict'>
('apple', 'banana') is of type <class 'tuple'>
{'apple', 'orange'} is of type <class 'set'>
b'binary' is of type <class 'bytes'>

In [ ]:
Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [11]:
A = int(input("Enter the number A: "))
B = int(input("Enter the number B: "))

count = 0  
while A % B == 0: 
    count += 1  
    A = A / B  
if count > 0:
    print(f"{A} can be divided by {B} {count} times")
else:
    print(f"{A} is not divisible by {B}")

Enter the number A:  100
Enter the number B:  20

5.0 can be divided by 20 1 times

In [ ]:
Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.
Answer 6-
list = [2, 7, 9, 12, 16, 18, 21, 22, 27, 30, 33, 36, 39, 40, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72]

In [15]:
list = [2, 7, 9, 12, 16, 18, 21, 22, 27, 30, 33, 36, 39, 40, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72]

In [16]:
for num in list:
    
    if num % 3 == 0:
        print(num, "is divisible by 3")
    else:
        print(num, "is not divisible by 3")

2 is not divisible by 3
7 is not divisible by 3
9 is divisible by 3
12 is divisible by 3
16 is not divisible by 3
18 is divisible by 3
21 is divisible by 3
22 is not divisible by 3
27 is divisible by 3
30 is divisible by 3
33 is divisible by 3
36 is divisible by 3
39 is divisible by 3
40 is not divisible by 3
42 is divisible by 3
45 is divisible by 3
48 is divisible by 3
51 is divisible by 3
54 is divisible by 3
57 is divisible by 3
60 is divisible by 3
63 is divisible by 3
66 is divisible by 3
69 is divisible by 3
72 is divisible by 3

In [ ]:
Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.
Answer 2-

In programming, mutable and immutable data types refer to the ability or inability to modify an object after its creation. 
Mutable data types can be modified, while immutable data types cannot be modified once they are created.

Mutable data types include lists, dictionaries, and sets in Python. For example, consider the following code
list = [1, 2, 3]
list.append(4)
print(list)

In [20]:
list = [1, 2, 3]
list.append(4)
print(list)

[1, 2, 3, 4]

In [ ]:
On the other hand, immutable data types include strings, tuples, and numbers in Python. 
For example:
    A = "Hello"
A += " World"
print(A)

In [19]:
A = "Hello"
A += " World"
print(A)

Hello World